html,
body,
#map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;

  max-width: 100%;
  overflow-x: hidden;
}

.popup {
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
  background-color: #000000;
  font: 200 18px/1.5 Helvetica, Verdana, sans-serif;
  color: #ffffff;
  padding: 20px;
  overflow: auto;
}

.popup--hidden {
  display: none;
}

#contactsLayer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.contactsLayer--hidden {
  display: none;
}

#cross {
  display: inline-block;
  float: right;
}

#contactsWindow {
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
  background-color: #000000;
  font: 200 18px/1.5 Helvetica, Verdana, sans-serif;
  color: #ffffff;
  padding: 20px;
  overflow: auto;
}

#contactsWindow a {
  text-decoration: underline;
  color: #ffffff;
}

#contactsWindow p {
  margin: 10px;
  font: 200 16px/1.5 Helvetica, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

.image {
  margin: 0;
}

div.image {
  float: left; /* important */
  position: relative; /* important(so we can absolutely position the description div */
}
div.description {
  position: absolute; /* absolute position (so we can position it where we want)*/
  bottom: 0px; /* position will be on bottom */
  right: 0px;
  margin-right: 20px;
  /* styling bellow */
  background-color: black;
  color: white;
  opacity: 0.9; /* transparency */
  filter: alpha(opacity=90); /* IE transparency */
}
p.description_content {
  padding: 2px;
  margin: 0px;
  font-size: 30px;
}

#header {
  position: absolute;
  height: 50px;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}

#logo {
  padding: 5px;
  padding-left: 20px;
}

#info {
  margin: 10px;
  padding-left: 20px;
  position: absolute;
  right: 0;
}

.vidlist {
  position: absolute;
  /*height: 100%;*/
  right: 0;
  width: 35%;
  top: 50px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  transition: right 0.3s;
}

.is-video .vidlist {
  display: none;
}

.vidlist--hidden .close {
  display: none;
}

.vidlist--open .open {
  display: none;
}

.vidlist--hidden {
  right: -35%;
}

#openArrow {
  padding: 0px;
  margin: 0px;
  display: block;
}

.open {
  position: fixed;
  bottom: 30px;
  padding: 0px;
  margin-left: -30px;
  background-color: rgba(0, 0, 0, 0.7);
}

#closeArrow {
  /*padding: 5px;*/
  padding: 0px;
  margin: 0px;
  display: block;
}

.close {
  position: fixed;
  bottom: 30px;
  padding: 0px;
  margin: 0px;
  margin-left: -30px;
  background-color: rgba(0, 0, 0, 0.7);
}

.infoBox {
  padding-right: 50px;
  padding-left: 170px;
  background: url('../../static/transparent.png');

  max-height: 400px;
  overflow: auto;
}

#wrapper {
  position: relative;
  height: 100%;
}

.listbox {
  padding: 5px;
  margin-top: 0px;
}

.listbox h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  color: #eee;
  margin: 8px;
}

.listbox li img {
  float: left;
  opacity: 1;
  margin: 0 15px 0 0;
}

.listbox li p {
  margin: 1px;
  font: 200 12px/1.5 Helvetica, Verdana, sans-serif;
  color: #aaa;
}

.listbox li {
  padding: 10px;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 4px;
}

.listbox li:hover {
  background: #111;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
}

.icon {
  cursor: pointer;
}

.video-view .video-wrapper {
  width: 100%;
  height: 100%;
}

.video-view a {
  color: white;
  font-size: 20px;
}

.is-video #map-canvas {
  pointer-events: none;
}
