html, body, #map-canvas { 
	height: 100%; 
	margin: 0; 
	padding: 0;
}

#header {
	position: absolute; 
	height: 50px;
	width: 100%;
	top: 0px; 
	left: 0px; 
	z-index: 99; 
	background-color: #000000;
	opacity: 0.5;
}

.infoBox {
  padding-right: 50px;
  padding-left: 170px;
  background: url('../../static/transparent.png');

  max-height: 400px;
  overflow: auto;
}

#wrapper { position: relative; height: 100%;}

.listbox {
	margin-top: 8px; 
  margin-left: -170px;
	padding: 5px;
}

.listbox div {
  margin: 20px;
}
 
.listbox h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  color: #eee;
  margin: 8px; 
}
 
.listbox li img {
  float: left;
  opacity: 1;
  margin: 0 15px 0 0;
}
 
.listbox li p {
	margin: 8px;
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
  color: #aaa;
}
 
.listbox li {
  padding: 10px;
  overflow: scroll;
}
 
.listbox li:hover {
  background: #111;
  cursor: pointer;
  background: url('../../static/transparent.png')
}
